/****************/
/*shared head dek styles*/
/****************/


#chartwerk strong{
    font-weight: 600;
}

#chartwerk #chart-header{
    line-height: 1.45em;
    font-weight: 400;
}

#chartwerk #chart-header #headline{
    line-height: 1.1em;
}

#chartwerk.single #chart-header #headline{
    line-height: 1em;
   ;
}

#preview-pane{
    background-color: #f7f8f8;
}

#chartwerk #headline { 
    font-weight:bold;
    font-size:25px;
    line-height: 1.05em;
    margin: 0px
}

#chartwerk.single #headline { 
    font-size:22px;
}

#chartwerk #chatter {
    margin: 6px 0px 12px;
    font-size: 17px;
}

#chartwerk.single #chatter {
    margin: 8px 0px 10px;
    font-size: 14px;
    line-height: 1.2em;
}



/****************/
/*shared source byline styles*/
/****************/

#chartwerk #chart-footer #source{
    vertical-align: text-top;
    max-width: 350px;
}

#chartwerk #chart-footer #author{
    float: right;
}

#chartwerk.single #chart-footer #source{
    font-weight: 400;
    font-size: 10px;
}

#chartwerk #chart-footer {
    margin-top: 6px;
}

#chartwerk.single #chart-footer {
    margin-top: 2px;
}

#chartwerk.single #chart-footer #author{
    font-weight: 400;
    font-size: 10px;
    float: left;
}


#chartwerk #footnote,
#chartwerk #source,
#chartwerk #author {
    font-size:12px;
    font-weight: 400
    color:#666;
    display: inline-block;
}

#chartwerk.single #footnote,
#chartwerk.single #source,
#chartwerk.single #author {
    display: block;
}

#chartwerk #chart-footer {
    margin-top: 12px;
}


/****************/
/*shared tooltip styles*/
/****************/

#chartwerk #chart .tooltip .value{
    text-shadow: -1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, 1px 1px 0px #fff,  -1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, 1px 1px 0px #fff,  -1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, 1px 1px 0px #fff,-1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, 1px 1px 0px #fff,-1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, 1px 1px 0px #fff, -1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, 1px 1px 0px #fff,-1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, 1px 1px 0px #fff,-1px -1px 0px #fff, -1px 1px 0px #fff, 1px -1px 0px #fff, 1px 1px 0px #fff;
    font-weight: bold;
}

#chartwerk #chart .tooltip{
    font-family: 'franklin-gothic-urw', arial, sans-serif;
    font-weight: 200;
    opacity:0;
    pointer-events:none;
    padding:5px;
    width:auto;
    background: none;
}

/****************/
/*shared annotation styles*/
/****************/


#chartwerk .annotation .inner p{
    font-size: 14px;
    line-height: 1.2em;
    font-family:'franklin-gothic-urw', arial, sans-serif;
}

#chartwerk .annotation p{
    font-family: inherit;
    font-weight: 200;
    margin: 0px;
}

#chartwerk .annotation .inner{
    margin: 0px;
}

#chartwerk .annotation.bg{
    background: transparent;
}



/****************/
/*shared chart spec styles*/
/****************/

#chartwerk {
    font-family: 'proxima-nova', arial, sans-serif;
    font-weight: 200;
    padding: 20px 0;
    width:560px;
    background: #f7f8f8 url(http://static.politico.com/resource/images/website/shared/template/bg-noise.24d18bcf9d414e030c36ffd7f30648e8.jpg) repeat left top;
}


#chartwerk.single{
    width:270px;
    float:left;
    overflow:hidden;
    margin:10px 30px 10px 0;
}

/****************/
/*shared legend styles*/
/****************/

#chart-legend .chart-legend-container.bg, #chart .chart-legend-container.bg{
    background: #f7f8f8 url(http://static.politico.com/resource/images/website/shared/template/bg-noise.24d18bcf9d414e030c36ffd7f30648e8.jpg) repeat left top;
}
#chartwerk #chart-legend 
.chart-legend-container .key-label{
    font-family:'franklin-gothic-urw', arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
    margin-left: 3px;
    margin-right: 6px;
}
#chartwerk.single #chart-legend 
.chart-legend-container .key-label{
    font-size: 13px;
}
#chartwerk #chart-legend 
.chart-legend-container .key-color{
    margin-right:2px;
    margin-top: 2px;
    width: 12px;
    height: 12px;
}
#chartwerk #chart-legend 
.chart-legend-container .key{
    margin-right: 8px;
}

#chartwerk #chart-legend 
.chart-legend-container{
    margin-bottom: 2px;
}
#chartwerk.single #chart-legend 
.chart-legend-container{
    float: left;
}

#chart-legend .chart-legend-container, #chart .chart-legend-container{
    padding: 0;
}

// horizontal bar styles below
#chartwerk .response p{
    font: 13px/16px 'franklin-gothic-urw', arial, sans-serif;
    font-weight: 200;
}
#chartwerk #chart .bar{
    height:24px;
    margin-top: 5px;
}
#chartwerk #chart .bar .label{
    width:100%;
    text-align:right;
}
#chartwerk #chart .bar .name.label{
    width:100%;
    text-align:right;
    padding:2px 5px 0 0;
    margin-left:-101%;
    position:absolute;
    color:#666;
    font: 14px/16px 'franklin-gothic-urw', arial, sans-serif;
    
}

#chartwerk #chart .bar .value.label p{
    padding-right:5px;
    padding-top:2px;
    font-size:14px;
    line-height:18px;
    color:#fff;
    padding-left: 5px;
    margin: 0px;
   
}
#chartwerk #chart .bar .value.label p.offset{
    text-align:left;
    padding-left:5px;
    color:#666;
}