
#chartwerk strong{
    font-weight: 600;
}

#chartwerk #chart-header{
    line-height: 1.45em;
    font-weight: 400;
}

#chartwerk #chart-header #headline{
    line-height: 1.1em;
}

#chartwerk.single #chart-header #headline{
    line-height: 1em;
}

#chartwerk .annotation .inner p{
    font-size: 14px;
    line-height: 1.2em;
    font-family:'franklin-gothic-urw', arial, sans-serif;
}

.double #chart-footer #source{
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
}

.double #chart-footer #author{
    font-weight: 400;
    font-size: 12px;
    display: inline-block;
    float: right;
}

.single #chart-footer #source{
    font-weight: 400;
    font-size: 12px;
}

.single #chart-footer #author{
    font-weight: 400;
    font-size: 12px;
    float: left;
}

#chartwerk #chart-footer{
    width: 100%;
    margin-top: 6px;
}

#preview-pane{
    background-color: #f7f8f8;
}
#chartwerk {
    font-family: 'proxima-nova', arial, sans-serif;
    font-weight: 200;
    padding: 10px 0;
    width:560px;
    background: #f7f8f8 url(http://static.politico.com/resource/images/website/shared/template/bg-noise.24d18bcf9d414e030c36ffd7f30648e8.jpg) repeat left top;
}
#chartwerk.single{
    width:270px;
    float:left;
    overflow:hidden;
    margin:10px 30px 10px 0;
}

#chartwerk #headline { 
    font-weight:bold;
    font-size:28px;
    // line-height: 30px;
}

#chartwerk.single #headline { 
    font-size:26px;
}

#chartwerk #chatter {
    margin: 6px 0px 10px;
    font-size: 18px;
}

#chartwerk.single #chatter {
    margin: 8px 0px 10px;
}

#chartwerk.single #chatter {
    font-size: 16px;
}

#chartwerk #footnote,
#chartwerk #source,
#chartwerk #author {
    font-size:12px;
    color:#666;

}

#chart-legend .chart-legend-container.bg, #chart .chart-legend-container.bg{
    background: #f7f8f8 url(http://static.politico.com/resource/images/website/shared/template/bg-noise.24d18bcf9d414e030c36ffd7f30648e8.jpg) repeat left top;
}
#chartwerk #chart-legend 
.chart-legend-container .key-label{
    font-family:'franklin-gothic-urw', arial, sans-serif;
    font-weight: 200;
    font-size: 14px;
    margin-left: 3px;
    margin-right: 6px;
}
#chartwerk #chart-legend 
.chart-legend-container .key-color{
    margin-right:2px;
    margin-top: 2px;
    width: 12px;
    height: 12px;
}
#chartwerk #chart-legend 
.chart-legend-container .key{
    margin-right: 8px;
}

#chartwerk #chart-legend 
.chart-legend-container{
    margin-bottom: 2px;
}
#chartwerk .annotation p{
    font-family: inherit;
    font-weight: 200;
}

#chart-legend .chart-legend-container, #chart .chart-legend-container{
    padding: 0;
}
#chartwerk #chart .tooltip{
    font-family: 'franklin-gothic-urw', arial, sans-serif;
    font-weight: 200;
    opacity:0;
    pointer-events:none;
    background:rgba(255,255,255,.75);
    padding:5px;
    width:auto;
}
#chartwerk #chart .tooltip .value{
    font-weight: bold;
}

#chartwerk #chart path.line{
    fill: none;
    stroke-width: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: rgb(180,180,180);
  shape-rendering: crispEdges;
}
.axis text{
    font-family:'franklin-gothic-urw', arial, sans-serif;
    font-weight: 200;
    fill: #666;
    font-size:14px;
}
.y.axis line{
    stroke: #ddd;
}
.y.axis path{
    display:none;
}
.y.axis .label{
    font-family:'franklin-gothic-urw', arial, sans-serif;
    font-weight: 200;
    // font-style: italic;
}
line.dotted-line{
    stroke:rgb(33,33,33);
    stroke-width:1px;
}
line.solid-line{
    stroke:rgb(33,33,33);
    stroke-width:1px;
}
rect.shaded-area{
    fill:#ddd;
}