#chartwerk {
    background: inherit;
}
#chartwerk table{
    margin:10px 0 20px;
    overflow-x:visible;
    text-align:left;
    width:100%;
    font-family: 'franklin-gothic-urw', arial, sans-serif;
}
#chartwerk table th, #chartwerk table td{
    padding:6px 10px 6px 5px;
    
}
#chartwerk table th{
    border-bottom:2px solid grey;
    cursor:pointer;
    vertical-align: bottom;
    position: relative;
}
#chartwerk table th:hover{
    background-color:#eee;
}
#chartwerk table th.asc, #chartwerk table th.desc {
    background-color: #eee;
}
#chartwerk table th.asc:after, #chartwerk table th.desc:after, #chartwerk table th:hover:after {
    position: absolute;
    right: 5px;
    top: 7px;
    font-size: 13px;
    color: #999;
}
#chartwerk table th.asc:after, #chartwerk table th:hover:after {
    content: "\25b2";
}
#chartwerk table th.desc:after {
    content: "\25bc";
}
#chartwerk table tbody tr:first-child td{
    padding-top:10px;
}
#chartwerk table tbody tr{
    border-bottom:1px solid #ccc;
}
#chartwerk table tr:hover{
    background-color:#eee !important;
}
#chartwerk #list{
    margin:10px 0 20px;
    max-height:300px;
    overflow-y:scroll;
}
#chartwerk #list li{
    border-bottom:1px solid #ccc;
    padding: 5px 0;
}

#chartwerk #list p{
    text-align:left;
    margin:1px 0;
    line-height:12px;
    padding:5px 2px;
    font-size:12px;
}
#chartwerk #list p span.list-hed{
    font-size:10px;
    color:grey;
    display:inline-block;
    width:25%;
    word-wrap: normal;
    line-height:12px;
}
::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0.1);
  border-radius:5px;
}

::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.4);
  border-radius:5px;
}
.hidden{
    display:none !important;
}


/****************/
/*shared chart spec styles*/
/****************/

#chartwerk {
    font-family: 'proxima-nova', arial, sans-serif;
    font-weight: 200;
    padding: 20px 0;
    width:560px;
    background: #f7f8f8 url(http://static.politico.com/resource/images/website/shared/template/bg-noise.24d18bcf9d414e030c36ffd7f30648e8.jpg) repeat left top;
}


#chartwerk.single{
    width:270px;
    float:left;
    overflow:hidden;
    margin:10px 30px 10px 0;
}

/****************/
/*shared head dek styles*/
/****************/


#chartwerk strong{
    font-weight: 600;
}

#chartwerk #chart-header{
    line-height: 1.45em;
    font-weight: 400;
}

#chartwerk #chart-header #headline{
    line-height: 1.1em;
}

#chartwerk.single #chart-header #headline{
    line-height: 1em;
}

#preview-pane{
    background-color: #f7f8f8;
}

#chartwerk #headline { 
    font-weight:bold;
    font-size:25px;
    line-height: 1.05em;
}

#chartwerk.single #headline { 
    font-size:22px;
}

#chartwerk #chatter {
    margin: 6px 0px 12px;
    font-size: 17px;
}

#chartwerk.single #chatter {
    margin: 8px 0px 10px;
    font-size: 14px;
    line-height: 1.2em;
}



/****************/
/*shared source byline styles*/
/****************/

.double #chart-footer #author{
    float: right;
}

.single #chart-footer #source{
    font-weight: 400;
    font-size: 10px;
}

.single #chart-footer #author{
    font-weight: 400;
    font-size: 10px;
    float: left;
}


#chartwerk #footnote,
#chartwerk #source,
#chartwerk #author {
    font-size:12px;
    font-weight: 400
    color:#666;
    display: inline-block;
}

#chartwerk.single #footnote,
#chartwerk.single #source,
#chartwerk.single #author {
    display: block;
}

#chartwerk #chart-footer {
    margin-top: 12px;
}