/****************/
/*shared head dek styles*/
/****************/


#chartwerk strong{
    font-weight: 600;
}

#chartwerk #chart-header{
    line-height: 1.45em;
    font-weight: 400;
}

#chartwerk #chart-header #headline{
    line-height: 1.1em;
}

#chartwerk.single #chart-header #headline{
    line-height: 1em;
}


#chartwerk #headline { 
    font-weight:bold;
    font-size:25px;
    line-height: 1.05em;
    margin: 0px;
}

#chartwerk.single #headline { 
    font-size:22px;
}

#chartwerk #chatter {
    margin: 6px 0px 12px;
    font-size: 18px;
    line-height: 24px;
}

#chartwerk.single #chatter {
    margin: 8px 0px 10px;
    font-size: 15px;
    line-height: 19px;
}



/****************/
/*shared source byline styles*/
/****************/

#chartwerk #chart-footer #author{
    float: right;
}

#chartwerk.single #chart-footer #source{
    font-weight: 400;
    font-size: 10px;
}

#chartwerk.single #chart-footer #author{
    font-weight: 400;
    font-size: 10px;
    float: left;
}

#chartwerk #chart-footer #source{
    vertical-align: text-top;
    max-width: 350px;
}


#chartwerk #footnote,
#chartwerk #source,
#chartwerk #author {
    font-size:12px;
    font-weight: 400
    color:#666;
    display: inline-block;
}

#chartwerk.single #footnote,
#chartwerk.single #source,
#chartwerk.single #author {
    display: block;
}

#chartwerk #chart-footer {
    margin-top: 6px;
}

#chartwerk.single #chart-footer {
    margin-top: 2px;
}

/****************/
/*shared annotation styles*/
/****************/


#chartwerk .annotation .inner p{
    font-size: 14px;
    line-height: 1.2em;
}

#chartwerk .annotation .inner{
    margin: 0px;
}

#chartwerk .annotation.bg{
    background: transparent;
}

#chartwerk .annotation p{
    font-family: inherit;
    font-weight: 400;
    text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3), -1px 1px 0px rgba(255, 255, 255, 0.3), 1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(255, 255, 255, 0.3), -1px -1px 0px rgba(255, 255, 255, 0.3), -1px 1px 0px rgba(255, 255, 255, 0.3), 1px -1px 0px rgba(255, 255, 255, 0.3), 1px 1px 0px rgba(255, 255, 255, 0.3);
}

/****************/
/*shared chart spec styles*/
/****************/

#chartwerk {
    font-family: 'din-2014', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 20px 0;
    width:560px;
}


#chartwerk.single{
    width:270px;
    float:left;
    overflow:hidden;
    margin:10px 30px 10px 0;
}

/****************/
/*shared legend styles*/
/****************/


#chartwerk #chart-legend 
.chart-legend-container .key-label{
    font-size: 14px;
    margin-left: 3px;
    margin-right: 6px;
}
#chartwerk.single #chart-legend 
.chart-legend-container .key-label{
    font-size: 13px;
}
#chartwerk #chart-legend 
.chart-legend-container .key-color{
    margin-right:2px;
    margin-top: 2px;
    width: 12px;
    height: 12px;
}
#chartwerk #chart-legend 
.chart-legend-container .key{
    margin-right: 8px;
}

#chartwerk #chart-legend 
.chart-legend-container .key.quantized{
    margin-right: 0px;
}

#chartwerk #chart-legend 
.chart-legend-container{
    margin-bottom: 2px;
}
#chartwerk.single #chart-legend 
.chart-legend-container{
    float: left;
}

#chart-legend .chart-legend-container, #chart .chart-legend-container{
    padding: 0;
}
.tile-grid-map{
    margin-bottom:33px;
}
.state{
    fill:#eee
}
.map-label{
    font-family: 'din-2014', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    fill:#979797;
    font-size: 20px;
}
.map-label-active{
    fill:#fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5)
}
#chartwerk.single .map-label {
    font-size: 24px;
}