
#chartwerk {
    font-family:'proxima-nova', arial, sans-serif;
    font-weight: 200;
    width:600px;
}
#chartwerk.single{
    width:290px;
    float:left;
    overflow:hidden;
    margin:10px 30px 10px 0;
}
#chartwerk #headline { 
    font-weight:bold;
    font-size:24px;
}
#chartwerk #chatter {
    margin-top:5px;
}
#chartwerk #footnote,
#chartwerk #source,
#chartwerk #author {
    font-size:11px;
    color:grey;

}
#chartwerk #author {
    text-align:right;
}
#chartwerk #chart{
    background-color:white;
}
#chartwerk #chart-legend 
.chart-legend-container .key-label{
    font: 11px 'proxima-nova', arial, sans-serif;
    font-weight: 200;
}
#chartwerk #chart-legend 
.chart-legend-container .key-color{
    margin-right:2px;
}
#chartwerk #chart-legend 
.chart-legend-container .key{
    margin-right:8px;
}
#chartwerk .annotation p{
    font-family:'proxima-nova', arial, sans-serif;
    font-weight: 200;
}
#chartwerk #chart .tooltip{
    font: 13px'proxima-nova', arial, sans-serif;
    font-weight: 200;
    opacity:0;
    pointer-events:none;
    background:rgba(255,255,255,.75);
    padding:5px;
    width:auto;
}
#chartwerk #chart .tooltip .title{
    font-weight: bold;
    fill:grey;
}
.facet.highlight {
    stroke: #000;
}